body {
  padding: 0px;
  margin: 0px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #252427;
}

.outerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displayBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #1169f6;
}

.input {
  width: 300px;
  height: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 20px;
  border: 1px solid rgb(111, 110, 110);
  background-color: #252427;
  color: rgb(126, 126, 241);
}

.btnPlay {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 9999px;
  color: #ffffff;
  background-color: #ef4444;
  width: 30px;
  height: 30px;
  border: none
}

.btnReset {
  background-color: #3b82f6;
  padding: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 9999px;
  color: #ffffff;
  width: 30px;
  height: 30px;
  border: none
}

p {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  margin-right: 4px;
}
